.girl-container {
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.lottie-animation {
  width: 60vw; 
  height: auto;
  max-width: 700px; 
}


